a {
  text-decoration: none;
}

h1 {
  font-family: Staatliches;
  font-size: 120px;
}

#category {
  font-family: Staatliches;
  font-weight: 500;
}

#title {
  letter-spacing: 0.4px;
  font-size: 22px;
  font-size: 1.375rem;
  line-height: 1.13636;
}

#banner {
  margin: 20px;
  height: 800px;
}

#editor {
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.75;
}

.uk-navbar-container {
  background: #fff !important;
  font-family: Staatliches;
}

img:hover {
  opacity: 1;
  transition: opacity 0.25s cubic-bezier(0.39, 0.575, 0.565, 1);
}

.square {
  float:left;
  width: 100px;
  height: 100px;
  background-color: white;
  color:black;
  justify-content: center;
  flex-direction: column;
  border: 1px solid black;
  overflow: hidden;
}

.board-row {
  max-width: 500px;
}

.usage .output{
  font-size: 12px;
  word-wrap: normal;
}

.robotBody {
  min-height: 1000px;
}
